<!-- {% load static %} -->
<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Potfolio</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="/static/css/base.css">  
   <link rel="stylesheet" href="/static/css/main.css">
   <link rel="stylesheet" href="/static/css/vendor.css">     

   <!-- script
   ================================================== -->   
	<!-- <script src="/static/js/modernizr.js"></script> -->
	<script src="/static/js/pace.min.js"></script>

   <!-- favicons
	================================================== -->


</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <!-- <header>   	
   	<div class="row">

   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>

	   		<div class="logo">
		         <a href="index.html">Potfolio</a>
		      </div>		      

		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li class="current"><a class="smoothscroll"  href="#intro" title="">Home</a></li>
						<li><a class="smoothscroll"  href="#about" title="">About</a></li>
						<li><a class="smoothscroll"  href="#resume" title="">Resume</a></li>
						<li><a class="smoothscroll"  href="#portfolio" title="">Experience</a></li>					
						<li><a class="smoothscroll"  href="#contact" title="">Contact</a></li>				
					</ul>
				</nav>    		
   		</div> 
   		
   	</div> 	
</header> -->

	<!-- intro section
   ================================================== -->
   <section id="intro">   

   	<div class="intro-overlay"></div>	

   	<div class="intro-content">
   		<div class="row">

   			<div class="col-twelve">

	   			<h5>Hello,</h5>
	   			<h1>I'm Hariharan.M</h1>

	   			<p class="intro-position">
	   				<span>Python Developer</span>
	   				
	   			</p>

	   			<a class="button stroke smoothscroll" href="#about" title="">More About Me</a>

	   		</div>  
   			
   		</div>   		 		
   	</div> <!-- /intro-content --> 

   	<ul class="intro-social">        
		<li><a href="https://www.linkedin.com/in/hari-haran-609897191"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
			<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
		  </svg></a></li>
		  <li><a href="hariharanm2211@gmail.com"> <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
			<path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
			<path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
		  </svg></a></li>
		  <li><a href="https://github.com/Hariharan0208"><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
			<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
		  </svg></a></li>
      </ul> <!-- /intro-social -->      	

   </section> <!-- /intro -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself.</h1>

   			<div class="intro-info">

   				<img src="/static/images/Profile.png" alt="Profile Picture">

   				<p class="lead">Hello, I am Hariharan from Salem. Currently, I am working at Altos Technologies as a developer. I am passionate about coding and always eager to learn new technologies.</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<h3>Profile</h3>
   			<p>A skilled Python Developer with 1 years of experience in building and maintaining scalable web applications and data-driven solutions. Proficient in Python frameworks like Django and Expert at leveraging Django's ORM for seamless data interaction,database management. Passionate about writing clean, efficient code and improving system performance.</p>

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Hariharan.M</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>November 22, 2001</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>Python Developer</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>hariharanm2211@gmail.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">

   			<h3>Skills</h3>
   			<p>I have expertise in Python, Django, HTML, CSS, JavaScript, and Bootstrap for full-stack development.
			    i know it and GitHub for version control.
				I am passionate about building dynamic web applications and creating user-friendly interfaces.
				
				Let me know if you need any modifications</p>

				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>HTML5</strong>
				   </li>
				   <li>
				   	<div class="progress percent85"><span>85%</span></div>
				   	<strong>CSS3</strong>
				   </li>
				   <li>
				   	<div class="progress percent70"><span>70%</span></div>
				   	<strong>Mysql</strong>
				   </li>
				   <li>
				   	<div class="progress percent95"><span>85%</span></div>
				   	<strong>Django</strong>
				   </li>
				   <li>

				   	<div class="progress percent75"><span>75%</span></div>
				   	<strong>Python</strong>
				   </li>
      
				</ul> <!-- /skill-bars -->		

   		</div>

   	</div>

   	<div class="row button-section">
		<div class="col-twelve">
			<a href="#contact" title="Hire Me" class="button stroke smoothscroll">Hire Me</a>
			<a href="/static/download/Hariharan Resume.pdf" download title="Download CV" class="button button-primary">Download CV</a>
		</div>   		
	</div>
	

   </section> <!-- /process-->    


   <!-- resume Section
   ================================================== -->
	<section id="resume" class="grey-section">

		<!-- <div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Resume</h5>
   			<h1>More of my credentials.</h1>

   			<p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p>

   		</div>   		
   	</div> /section-intro  -->

   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   			<h2>Work Experience & Education</h2>

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-graduation-cap"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Python 	developer</h3>
	   					<p>August 2024 - Present</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Altos Technologies</h4>
	   					<p>As a leading web development company in Kochi, ALTOS Technologies provides top-notch consulting and strategy services to enhance the digital transformation of enterprises of all sizes, both internally and in terms of customer experience.</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
   	
   	<div class="row resume-timeline">

   		<div class="col-twelve resume-header">

   		</div> <!-- /resume-header -->

   		<div class="col-twelve">

   			<div class="timeline-wrap">

   				

	   			<div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Bachelor Degree</h3>
	   					<p>July 2018 - June 2022</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Dhirajlal Gandhi College Of Technology,Salem.</h4>
	   					<p>I am completed a Bachelor of Engineering (BE) at Dhirajlal Gandhi College of Technology (DGCT) is a leading engineering institution located in Salem, Tamil Nadu, India. Established in 2011, DGCT is affiliated with Anna University and is approved by the All India Council for Technical Education (AICTE).</p>
	   				</div>

	   			</div> <!-- /timeline-block -->

	   			<!-- <div class="timeline-block">

	   				<div class="timeline-ico">
	   					<i class="fa fa-briefcase"></i>
	   				</div>

	   				<div class="timeline-header">
	   					<h3>Certifications</h3>
	   					<p>Octobar 2023 - Febraury 2024</p>
	   				</div>

	   				<div class="timeline-content">
	   					<h4>Uniq Technologies</h4>
	   					<p>Alongside my business studies, I have also completed a Full Stack Developer certification course from UNIQ Technologies. This program provided me with hands-on experience in front-end and back-end development, covering technologies such as HTML, CSS, JavaScript, Python, and databases like MySQL/Sqlite. The course enhanced my ability to build dynamic web applications and strengthened my problem-solving skills in software development.</p>
	   				</div>

	   			</div>  -->

   			</div> <!-- /timeline-wrap -->   			

   		</div> <!-- /col-twelve -->
   		
   	</div> <!-- /resume-timeline -->
		
	</section> <!-- /features -->
	


	<!-- Portfolio Section
   ================================================== -->
   <section id="portfolio">
    <div class="row section-intro">
        <div class="col-twelve">
            <h5>Experience</h5>
            <h3>Check Out Some of My Works.</h3>
            <p class="lead">
				I have hands-on experience developing dynamic web applications that optimize business operations.  
						My expertise includes CRM (Customer Relationship Management) systems, HMS (Hospital Management Systems),  
						and a WHMS (Warehouse Management System) designed to enhance user like Ecommerce and functionality.
            </p>
        </div>   		
    </div> <!-- /section-intro-->

    <div class="row">
        <div class="col-four">
            <h3>CRM System Development</h3>
            <p>
                Designed and developed a Customer Relationship Management (CRM) system to manage customer interactions, automate sales pipelines,  
                and improve customer engagement. Integrated Django, MySQL for seamless functionality.
            </p>
        </div>
        <div class="col-four">
            <h3>HRMS Web Application</h3>
            <p>
                Implemented a Hospital Management System (HMS) that handles Symptoms, Finance, Referrals, and Inventory. Utilized Python, Django, and MySQL to create a highly efficient and scalable solution.
            </p>
        </div>
        <div class="col-four">
            <h3>WHMS Website</h3>
            <p>
                I developed a Warehouse Management System using Django with a local database, featuring options for adding categories, items, and managing purchases through a cart. The system includes delivery allocation, updates, and order tracking for seamless logistics. It streamlines warehouse operations and improves customer experience through efficient delivery management.
            </p>
            <a href="https://github.com/Hariharan0208/Warehouse-Management-System" target="_blank" class="btn btn-outline-primary">
                <i class="fa fa-link"></i> View on GitHub
            </a>
        </div>
    </div>
</section>


   	
	
   
	<section id="contact">

		<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>Contact</h5>
   			<h1>I'd Love To Hear From You.</h1>

   			<!-- <p class="lead">Lorem ipsum Do commodo in proident enim in dolor cupidatat adipisicing dolore officia nisi aliqua incididunt Ut veniam lorem ipsum Consectetur ut in in eu do.</p> -->

   		</div> 
   	</div> <!-- /section-intro -->

   	<div class="row contact-form">

   		<div class="col-twelve">

            <!-- form -->
            <form name="contactForm" id="contactForm" method="POST" action="{% url 'submitform' %}">
                {% csrf_token %}
      			<fieldset>
                  <div class="form-field">
 						   <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2" required="">
                  </div>
                  <div class="form-field">
	      			   <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
	               </div>
                  <div class="form-field">
	     				   <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
	               </div>                       
                  <div class="form-field">
	                 	<textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required=""></textarea>
	               </div>                      
                 <div class="form-field">
                     <button class="submitform">Submit</button>
                     <div id="submit-loader">
                        <div class="text-loader">Sending...</div>                             
       				      <div class="s-loader">
								  	<div class="bounce1"></div>
								  	<div class="bounce2"></div>
								  	<div class="bounce3"></div>
								</div>
							</div>
                  </div>
      			</fieldset>
      		</form> <!-- Form End -->

            <!-- contact-warning -->
            <div id="message-warning">            	
            </div>  

            <!-- contact-success -->
      		<div id="message-success">
               <i class="fa fa-check"></i>Your message was sent, thank you!<br>
      		</div>

         </div> <!-- /col-twelve -->
   		
   	</div> <!-- /contact-form -->

   	<div class="row contact-info">

		<!-- Location Section -->
		<div class="col-four tab-full">
			<div class="icon">
				<a href="https://maps.app.goo.gl/3novvYrUG88GwskGA" target="_blank">
					<i class="icon-pin"></i>
				</a>
			</div>
			<h5>Where to find me</h5>
			<p>
				6-2/37,Mettu Street<br>
				Jalakandapuram,Salem<br>
				636501, Tamil-Nadu
			</p>
		</div>
	
		<!-- Email Section -->
		<div class="col-four tab-full collapse">
			<div class="icon">
				<a href="mailto:ashwinthsudha2003@gmail.com">
					<i class="icon-mail"></i>
				</a>
			</div>
			<h5>Email Me At</h5>
			<p>
				hariharanm2211@gmail.com<a href="mailto:ashwinthsudha2003@gmail.com"></a>
			</p>
		</div>
	
		<!-- Phone Section -->
		<div class="col-four tab-full">
			<div class="icon">
				<a href="tel:+918072302230">
					<i class="icon-phone"></i>
				</a>
			</div>
			<h5>Call Me At</h5>
			<p>
				Phone: 8072302230<a href="tel:+918072302230"></a>
			</p>
		</div>
	
	</div> <!-- /contact-info -->
	
		
	</section> <!-- /contact -->


   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
					<path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
				  </svg></a></li>
			      <li><a href="hariharanm2211@gmail.com"> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
					<path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
					<path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
				  </svg></a></li>
			      <li><a href="https://github.com/Hariharan0208"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
					<path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
				  </svg></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Copyright Hariharan</span> 
		        	<span>Design by Hariharan M.</span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->     	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>
</html>